.control:hover {
    color: var(--theme-btn-subtle-fg-hover);
    text-decoration: none;
}

.spoiler {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: justify;
}

.spoiler:not(.is-expanded).can-expand::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: '';
    background: linear-gradient(to top, var(--theme-colors-background) 10%, transparent 60%);
}

.spoiler.can-expand {
    cursor: pointer;
}

.spoiler.is-expanded {
    max-height: 2500px !important;
}
