.header {
    display: flex;
    justify-content: center;
    margin-bottom: var(--theme-spacing-md);
    background: var(--theme-colors-background);
    border-radius: 0;
}

.header h2 {
    width: 100%;
    font-size: var(--theme-font-size-2xl);
    font-weight: 700;
    user-select: none;
}

.content {
    padding: var(--theme-spacing-sm);
    overflow: hidden;
    background: var(--theme-colors-background);
    border: 2px solid var(--theme-colors-border);
    border-radius: var(--theme-radius-md);
    box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 40%);
    filter: drop-shadow(0 0 5px rgb(0 0 0 / 50%));
}

.close {
    position: absolute;
    right: var(--theme-spacing-md);
}
