.title {
    font-size: var(--theme-font-size-lg);
    font-weight: 700;
}

.body {
    padding: var(--theme-spacing-sm) var(--theme-spacing-md);
}

.header {
    background: var(--theme-colors-background);
    border-bottom: none;
}

.content {
    background: var(--theme-colors-background);
}
