.image {
    position: absolute;
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
    filter: drop-shadow(rgb(0 0 0 / 35%) 0 5px 15px);
}

.censored.image {
    filter: blur(30px);
}

.image-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.metadata-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 0 0.5rem;
    text-align: center;
    cursor: default;
    border-radius: 5px;

    a {
        cursor: pointer;
    }

    h1 {
        font-size: 3.5vh;
    }
}

.player-container {
    @media screen and (height < 640px) {
        .full-screen-player-image-metadata {
            display: none;
            height: 100%;
            margin-bottom: 0;
        }
    }
}
