.scroll-area {
    height: calc(100vh - 90px);
}

.drag-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: calc(100% - 130px);
    height: 65px;
    -webkit-app-region: drag;

    button {
        -webkit-app-region: no-drag;
    }

    input {
        -webkit-app-region: no-drag;
    }
}
