.ag-header-fixed {
    position: fixed !important;
    top: 65px;
    z-index: 15;
    padding: 0 2rem;
    margin: 0 -2rem;
    box-shadow: 0 -1px 0 0 #181818;
    transition: position 0.2s ease-in-out;
}

.ag-header-window-bar {
    top: 95px;
}

.ag-header {
    z-index: 5;
}

.window-frame {
    top: 95px;
}

.ag-header-transparent {
    --ag-header-background-color: rgb(0 0 0 / 0%) !important;
}

.ag-header-fixed-margin {
    margin-top: 36px !important;
}

.ag-header-cell-comp-wrapper {
    margin: 0 0.5rem;
}

.ag-header-cell,
.ag-header-group-cell {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.ag-header-cell-resize {
    background-color: transparent;
}
