.ag-header-fixed {
    position: fixed !important;
    top: 65px;
    z-index: 15;
    background: var(--table-header-bg) !important;
    margin: 0 -2rem;
    padding: 0 2rem;
    border-bottom: 1px solid var(--table-border-color);
    box-shadow: 0 -1px 0 0 #181818;
    transition: position 0.2s ease-in-out;
}

.ag-header {
    z-index: 5;
}

.window-frame {
    top: 95px;
}

.ag-header-transparent {
    --ag-header-background-color: rgba(0, 0, 0, 0%) !important;
}

.ag-header-fixed-margin {
    margin-top: 43px !important;
}

.ag-header-cell-comp-wrapper {
    margin: 0.5rem 0.5rem;
}

.ag-header-cell,
.ag-header-group-cell {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.ag-header-cell-resize {
    background-color: transparent;
}
