@use '../themes/default.scss';
@use '../themes/dark.scss';
@use '../themes/light.scss';
@use './ag-grid.scss';
@use './overlayscrollbars.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    color: var(--content-text-color);
    background: var(--content-bg);
    font-family: var(--content-font-family);
    font-size: var(--root-font-size);
}

@media only screen and (max-width: 639px) {
    body,
    html {
        overflow-x: auto;
    }
}

#app {
    height: inherit;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    outline: none;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-track-bg);
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-bg-hover);
}

a {
    text-decoration: none;
}

button {
    -webkit-app-region: no-drag;
}

.hide-scrollbar {
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.mantine-ScrollArea-thumb[data-state='visible'] {
    animation: fadeIn 0.3s forwards;
}

.mantine-ScrollArea-scrollbar[data-state='hidden'] {
    animation: fadeOut 0.2s forwards;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 100 1000;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 1000;
}

@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/Fredoka-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 100 1000;
}

@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 1000;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 1000;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
    font-weight: 100 1000;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 1000;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 1000;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 1000;
}

@font-face {
    font-family: 'DroidSerif';
    src: url('https://rawgit.com/google/fonts/master/ufl/ubuntumono/UbuntuMono-Italic.ttf')
        format('truetype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
    font-family: 'DroidSerif';
    src: url('https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2')
        format('truetype');
    unicode-range: U+3000-9FFF, U+ff??; /* Japanese glyphs */
}
