.lyric-line {
    color: var(--main-fg);
    font-weight: 400;

    font-size: 2.5vmax;
    transform: scale(0.95);
    opacity: 0.5;

    .active {
        font-weight: 800 !important;
        transform: scale(1) !important;
        opacity: 1;
    }

    .active.unsynchronized {
        opacity: 0.8;
    }

    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.lyric-line.active {
    font-weight: 800;
    transform: scale(1);
    opacity: 1;
}
