.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content {
    box-sizing: border-box;
    width: 90%;
    max-width: min(90%, 700px);
    margin-inline: auto;
}

.scroll-area {
    width: 100%;
    max-height: calc(100vh - 50px);
}

.check-group {
    width: 100%;
}

.actions {
    margin-top: 2rem;
}
