.container {
    position: absolute;
    z-index: 1000;
    padding: var(--theme-spacing-xs);
    background: var(--theme-colors-surface);
    border: 1px solid var(--theme-colors-border);
    border-radius: var(--theme-radius-md);
    box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 40%);
}

.context-menu-button {
    display: flex;
    padding: var(--theme-spacing-sm);
    font-family: var(--theme-content-font-family);
    font-size: var(--theme-font-size-sm);
    font-weight: 500;
    color: var(--theme-colors-surface-foreground);
    text-align: left;
    cursor: default;
    background: var(--theme-colors-surface);
    border: none;

    &:hover {
        background: lighten(var(--theme-colors-surface), 10%);
    }

    &:disabled {
        background: transparent;
        opacity: 0.6;
    }
}

.left {
    margin-right: 3rem;
}
