@use 'sass:color' as color;

:root {
  --content-font-family: Sora, sans-serif;
  --header-font-family: Gotham, sans-serif;

  --icon-color: rgb(255, 255, 255);

  --primary-color: rgb(66, 116, 214);
  --secondary-color: rgb(255, 120, 120);
  --success-color: green;
  --warning-color: orange;
  --danger-color: rgb(204, 50, 50);
  --generic-border-color: rgba(50, 50, 50, 0.7);

  --main-bg: rgb(18, 18, 18);
  --main-fg: rgb(245, 245, 245);
  --main-fg-secondary: rgb(150, 150, 150);

  --titlebar-fg: rgb(255, 255, 255);
  --titlebar-bg: rgb(13, 14, 17);

  --sidebar-bg: rgb(10, 12, 15);
  --sidebar-btn-color: rgb(179, 179, 179);
  --sidebar-btn-color-hover: #dddddd;
  --sidebar-handle-bg: #4d4d4d;
  --sidebar-border: 1px rgba(150, 150, 150, 0.1) solid;

  --playerbar-bg: linear-gradient(
    rgb(20, 20, 20) 0%,
    rgb(30, 30, 30) 50%,
    rgb(20, 20, 20) 100%
  );
  --playerbar-btn-main-fg: rgb(0, 0, 0);
  --playerbar-btn-main-fg-hover: rgb(0, 0, 0);
  --playerbar-btn-main-bg: rgb(230, 230, 230);
  --playerbar-btn-main-bg-hover: rgb(255, 255, 255);
  --playerbar-btn-fg: rgba(200, 200, 200, 0.8);
  --playerbar-btn-fg-hover: rgba(255, 255, 255, 1);
  --playerbar-btn-bg: #c5c5c5;
  --playerbar-btn-bg-hover: transparent;
  --playerbar-border-top: 1px rgba(50, 50, 50, 0.7) solid;
  --playerbar-slider-track-bg: #3c3f43;
  --playerbar-slider-track-progress-bg: #cccccc;

  --tooltip-bg: #ffffff;
  --tooltip-fg: #000000;

  --scrollbar-track-bg: #181818;
  --scrollbar-thumb-bg: rgba(90, 90, 90, 0.5);

  --btn-primary-bg: var(--primary-color);
  --btn-primary-bg-hover: rgb(71, 122, 224);
  --btn-primary-fg: #ffffff;
  --btn-primary-fg-hover: #ffffff;

  --btn-default-bg: rgb(39, 39, 39);
  --btn-default-bg-hover: rgb(63, 63, 63);
  --btn-default-fg: rgb(193, 193, 193);
  --btn-default-fg-hover: rgb(193, 193, 193);

  --btn-subtle-bg: transparent;
  --btn-subtle-bg-hover: transparent;
  --btn-subtle-fg: rgb(150, 150, 150);
  --btn-subtle-fg-hover: rgb(240, 240, 240);

  --input-bg: rgb(35, 35, 35);
  --input-fg: rgb(193, 193, 193);
  --input-placeholder-fg: rgb(119, 126, 139);
  --input-active-fg: rgb(193, 193, 193);
  --input-active-bg: rgba(255, 255, 255, 0.1);

  --dropdown-menu-bg: rgb(24, 24, 24);
  --dropdown-menu-fg: rgb(220, 220, 220);
  --dropdown-menu-bg-hover: rgb(37, 38, 43);
  --dropdown-menu-border: 1px rgba(50, 50, 50, 0.7) solid;
  --dropdown-menu-border-radius: 4px;

  --switch-track-bg: rgb(50, 50, 50);
  --switch-track-enabled-bg: var(--primary-color);
  --switch-thumb-bg: rgb(255, 255, 255);

  --slider-track-bg: rgb(50, 50, 50);
  --slider-thumb-bg: rgb(255, 255, 255);

  --toast-title-fg: rgb(255, 255, 255);
  --toast-description-fg: rgb(193, 194, 197);
  --toast-bg: rgb(16, 16, 16);

  --modal-bg: rgb(24, 24, 24);

  --paper-bg: rgb(30, 30, 30);

  --placeholder-bg: rgba(53, 53, 53, 0.5);
  --placeholder-fg: rgba(126, 126, 126);

  --card-default-bg: rgb(24, 24, 24);
  --card-default-bg-hover: rgb(40, 40, 40);
  --card-default-radius: 10px;
  --card-poster-bg: transparent;
  --card-poster-bg-hover: transparent;
  --card-poster-radius: 3px;

  .ag-theme-alpine-dark {
    --ag-font-family: var(--content-font-family);

    --ag-borders: none;
    --ag-border-color: rgb(50, 50, 50);

    --ag-header-background-color: rgb(16, 16, 16);
    --ag-header-foreground-color: rgb(179, 179, 179);

    --ag-foreground-color: rgb(179, 179, 179);

    --ag-background-color: var(--main-bg);
    // --ag-odd-row-background-color: rgb(25, 25, 25);
    --ag-row-hover-color: rgba(100, 100, 100, 0.2);
    --ag-selected-row-background-color: rgba(100, 100, 100, 0.4);
  }

  .ag-header-cell-label {
    font-family: var(--header-font-family);
    font-weight: 600;
    text-transform: uppercase;
  }

  .ag-cell-focus {
    border: 1px rgba(155, 155, 155, 0.3) solid !important;
  }

  .current-song {
    background: rgba(96, 144, 240, 0.3) !important;
  }

  .mantine-Modal-modal {
    background: var(--modal-bg);
    border-radius: 10px;
  }

  .mantine-Modal-header {
    font-weight: bold;
    font-size: medium;
    padding-bottom: 1rem;
    margin-right: 0.5rem;
    border-bottom: 1px solid var(--generic-border-color);
  }
}
