@use 'sass:color' as color;

:root {
  --label-font-family: Poppins, sans-serif;

  --icon-color: rgb(255, 255, 255);

  --primary-color: rgb(58, 129, 237);
  --secondary-color: rgb(199, 100, 141);
  --success-color: green;
  --warning-color: orange;
  --danger-color: red;
  --generic-border-color: rgba(50, 50, 50, 0.7);

  --main-bg: rgb(24, 24, 25);
  --main-fg: rgb(193, 194, 187);
  --main-fg-secondary: rgb(150, 150, 150);

  --titlebar-fg: rgb(255, 255, 255);
  --titlebar-bg: rgb(29, 29, 29);

  --sidebar-bg: rgb(16, 16, 16);
  --sidebar-btn-color: rgb(179, 179, 179);
  --sidebar-btn-color-hover: #dddddd;
  --sidebar-handle-bg: #4d4d4d;

  --playerbar-bg: #181818;
  --playerbar-text-primary-color: #e7e7e7;
  --playerbar-text-secondary-color: #a8a8a8;
  --playerbar-btn-color: #c5c5c5;
  --playerbar-btn-color-hover: #ffffff;
  --playerbar-border-top: 1px rgba(50, 50, 50, 0.7) solid;
  --playerbar-slider-track-bg: #3c3f43;
  --playerbar-slider-track-progress-bg: #cccccc;

  --grid-card-bg: rgb(24, 24, 24);

  --tooltip-bg: #ffffff;
  --tooltip-fg: #000000;

  --scrollbar-track-bg: #181818;
  --scrollbar-thumb-bg: #5a5a5a;

  --btn-primary-bg: var(--primary-color);
  --btn-primary-bg-hover: rgb(47, 122, 237);
  --btn-primary-fg: #ffffff;
  --btn-primary-fg-hover: #ffffff;

  --btn-default-bg: rgb(41, 41, 41);
  --btn-default-bg-hover: color.scale(var(--btn-default-bg), $lightness: 15%);
  --btn-default-fg: rgb(193, 193, 193);
  --btn-default-fg-hover: rgb(193, 193, 193);

  --btn-subtle-bg: transparent;
  --btn-subtle-bg-hover: rgba(100, 100, 100, 0.5);
  --btn-subtle-fg: rgb(150, 150, 150);
  --btn-subtle-fg-hover: rgb(200, 200, 200);

  --input-bg: rgb(37, 38, 43);
  --input-fg: rgb(193, 193, 193);
  --input-placeholder-fg: rgb(119, 126, 139);

  --dropdown-menu-bg: rgb(24, 24, 24);
  --dropdown-menu-fg: rgb(193, 194, 197);

  --switch-track-bg: rgb(50, 50, 50);
  --switch-track-enabled-bg: var(--primary-color);
  --switch-thumb-bg: rgb(255, 255, 255);

  --toast-title-fg: rgb(255, 255, 255);
  --toast-description-fg: rgb(193, 194, 197);
  --toast-bg: rgb(16, 16, 16);

  --paper-bg: rgb(29, 29, 29);

  .ag-theme-alpine-dark {
    --ag-font-family: poppins;
    --ag-font-size: 12px;

    --ag-borders: none;
    --ag-border-color: rgb(50, 50, 50);

    --ag-header-background-color: rgb(16, 16, 16);
    --ag-header-foreground-color: rgb(179, 179, 179);

    --ag-foreground-color: rgb(179, 179, 179);

    --ag-background-color: rgb(24, 24, 25);
    --ag-odd-row-background-color: rgb(24, 24, 25);
    --ag-row-hover-color: rgba(100, 100, 100, 0.2);
    --ag-selected-row-background-color: rgba(100, 100, 100, 0.4);
  }

  .ag-header-cell-label {
    font-family: Montserrat;
    text-transform: uppercase;
  }

  .current-song {
    background: rgba(0, 50, 150, 0.2) !important;
  }
}
