.table-scroller {
    max-height: 55vh;
    padding-top: var(--theme-spacing-sm);
    padding-bottom: var(--theme-spacing-sm);
    margin-top: var(--theme-spacing-sm);
    overflow-y: auto;
    border-top: 1px solid var(--mantine-color-default-border);
}

.table-cell {
    padding: var(--theme-spacing-xs) var(--theme-spacing-sm);
    vertical-align: middle;
}

.table-header {
    width: 1%;
    padding: var(--theme-spacing-xs) var(--theme-spacing-sm);
    font-weight: 500;
    vertical-align: middle;
    color: var(--theme-colors-foreground-muted);
    white-space: nowrap;
}
