.list {
    padding: var(--theme-spacing-sm) var(--theme-spacing-md);
}

.row {
    position: relative;
    display: flex;
    width: 100%;
}

.controls {
    position: absolute;
    top: 50%;
    right: var(--theme-spacing-xs);
    transform: translateY(-50%);
}
