.container {
    display: flex;
    gap: var(--theme-spacing-sm);
    align-items: center;
    width: 100%;
    height: 100%;
}

.image-container {
    position: relative;
    flex-shrink: 0;
    height: 100%;
    aspect-ratio: 1;
}

.info {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing-xs);
    justify-content: center;
    min-width: 0;
}

.album-name {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    font-size: 13px;
    font-weight: 600;
    -webkit-box-orient: vertical;
}

.album-name.compact {
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.album-name.large {
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.artist-name {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    font-size: 11px;
    opacity: 0.7;
    -webkit-box-orient: vertical;
}

.artist-name.compact {
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.artist-name.large {
    -webkit-line-clamp: 3;
    line-clamp: 3;
}
