.content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (orientation: portrait) {
        padding-top: 5vh !important;
        padding-bottom: 5vh !important;
    }
}

.preview {
    padding: 0 !important;
}
