.image-placeholder {
    width: 100%;
    height: 100%;
    background-color: var(--theme-colors-surface);

    svg {
        width: 35px;
        height: 35px;
        color: var(--theme-colors-foreground-muted);
    }
}
