.titlebar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
        -webkit-app-region: no-drag;
    }
}

.right {
    display: flex;
    flex: 1/3;
    justify-content: center;
    height: 100%;
}
