.main-content-container {
    position: relative;
    display: grid;
    grid-area: main-content;
    grid-template-areas: 'sidebar . right-sidebar';
    grid-template-rows: 1fr;
    gap: 0;
    background: var(--theme-colors-background);
}

.main-content-container.shell {
    display: flex;
}

.main-content-container.sidebar-collapsed {
    grid-template-columns: 80px 1fr;
}

.main-content-container.sidebar-expanded {
    grid-template-columns: var(--sidebar-width) 1fr;
}

.main-content-container.right-expanded {
    grid-template-columns: var(--sidebar-width) 1fr var(--right-sidebar-width);
}

.main-content-container.sidebar-collapsed.right-expanded {
    grid-template-columns: 80px 1fr var(--right-sidebar-width);
}

.main-content-container.vertical-layout {
    grid-template-areas:
        'sidebar .'
        'sidebar right-sidebar';
    grid-template-rows: minmax(0, 1fr) var(--right-sidebar-height);
    grid-template-columns: var(--sidebar-width) 1fr;
}

.main-content-container.sidebar-collapsed.vertical-layout {
    grid-template-columns: 80px 1fr;
}

.main-content-container.vertical-layout #sidebar-queue {
    border-top: 1px solid alpha(var(--theme-colors-border), 0.5);
    border-left: 0;
}

.main-content-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
}

.main-content-body-scroll {
    flex: 1;
    min-height: 0;
    overflow: auto;
}
