.right-sidebar-container {
    position: relative;
    grid-area: right-sidebar;
    height: 100%;
    border-left: 1px solid alpha(var(--theme-colors-border), 0.3);

    .current-song-cell:not(.current-playlist-song-cell) svg {
        display: none;
    }
}

.queue-drawer {
    background: var(--theme-colors-background);
    border-radius: var(--theme-radius-lg);
}
