.root[data-variant='filled'] {
    background: var(--theme-colors-primary-filled);
}

.root[data-variant='outline'] {
    background: transparent;
}

.root {
    padding: var(--theme-spacing-xs) var(--theme-spacing-sm);
    font-weight: 500;
    background: var(--theme-colors-surface);
}
