<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Security-Policy" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script
            defer
            src="https://umami.jeffvli.org/script.js"
            data-website-id="5120fc56-cffa-4d42-8b6c-9afb6f459251"
            data-exclude-search="true"
            data-exclude-hash="true"
            data-auto-track="false"
        ></script>
        <title>Xaradiyel Music Server</title>
        <% if (web) { %>
        <link rel="icon" href="./assets/favicon.ico" />
        <script src="settings.js"></script>
        <% } %>
    </head>

    <body style="background-color: #000">
        <div id="root">
            <script type="module" src="main.tsx"></script>
        </div>
    </body>
</html>
